---
import Layout from '../layouts/Layout.astro';
import HomePageCard from '@components/HomePageCard.astro';
import { Image } from 'astro:assets';
import InternalLink from '@components/InternalLink.astro';
import ExternalLink from '@components/ExternalLink.astro';
import ZacImage from '@components/ZacImage.astro';


let featuredNotes = [{
  note: "Design",
  image: "/images/design-plant-v2.png",
  description: "Crafting intent through whatever medium you find yourself in whether it's UI, learning design, or other."
}, {
  note: "Business", 
  image: "/images/business-plant.png", 
  description: "The art of making money, mostly online, and everything that entails."
}, {
  
  note: "Dev", 
  image: "/images/dev-plant.png", 
  description: "Building websites and programs with various languages and techniques."
}, {
  note: "CrossFit", 
  image: "/images/health-plant.png", 
  description: "The way I achieve health and increase my healthspan."
}]

let articles = [
    "Utilize the Implicit Grid for consistent design of UI Elements", 
    "Ten Steps", 
    "High Quality Screen Casts Are Well-Scoped with a Single Take-Away", 
    "Sales Safari", 
    "Handle Multiple Inputs in React with ES6 Computed Property Name", 
    "Christopher Alexanders System Design"
]

let books = ["Badass Making Users Awesome", "The Mom Test",]
---

<Layout title="Zac's digital garden">
  <div class="sm:flex sm:flex-row sm:justify-between sm:mt-4 sm:mb-12 sm:overflow-hidden sm:relative mx-auto md:p-4">
    <div class="w-[23em] mx-auto sm:mx-0">
      <h1 class="w-fit font-bold mx-auto sm:mx-0 mt-4 mb-6 sm:font-bold text-4xl text-color-text dark:text-color-text-dark font-title"> Welcome <span class="hover:animate-waving-hand cursor-grab">👋🏻</span></h1>
        <p class="text-xl sm:text-lg leading-7 mt-4 text-color-text dark:text-color-text-dark font-body">
          This site is a collection of my thoughts that are organized into notes. They all very in length and polish.
        </p>
        <p class="text-xl sm:text-lg leading-7 mt-4 text-color-text dark:text-color-text-dark font-body">
          Some will be quick notes for a specific task at hand that I found useful to have on the internet and others will dig deeper into the big ideas surrounding a topic.
        </p>
        <p class="text-xl sm:text-lg leading-7 mt-4 text-color-text dark:text-color-text-dark font-body">Currently there are four main categories that I am exploring:</p>
    </div>
    <Image
      class="hidden sm:block h-fit self-center"
      src="/images/logo-400.png"
      width={300}
      height={300} 
      aspectRatio="1:1" 
      format="png" 
      alt="a pixeleted plant"
    />
  </div>

  <div style="
    margin:1em -100%; /* old browsers fallback */
    margin:1em calc(50% - 50vw);
    margin-bottom: 3em;
  ">
    <div class="flex justify-center flex-wrap">
      {
        featuredNotes.map((note) => {
          return <HomePageCard 
            note={note.note}
            image={note.image}
            description={note.description}
          />
        })
      }
    </div>
  </div>

  <div class="flex flex-col sm:flex-row justify-evenly my-20 p-4 sm:p-0 ">
    <ZacImage className="self-center mb-4"/>
    <div class=" sm:w-1/2">
      <h2 class="mx-auto w-fit sm:mx-0 font-semibold text-3xl text-color-text dark:text-color-text-dark font-subtitle"><a href="/about">About me</a></h2>
      <p class="text-xl sm:text-lg leading-7 mt-4 text-color-text dark:text-color-text-dark font-body">
        I'm a web developer and learner advocate with quite a few interests as you can see above.
      </p>
      <p class="text-xl sm:text-lg leading-7 mt-4 text-color-text dark:text-color-text-dark font-body">
        I currently work at <ExternalLink href="https://egghead.io" title="egghead.io" /> wearing many hats. We are a small shop so my responsibilities range from onboarding new instructors, supporting course design and production, and building out features to improve the creating and learning experience on egghead. 
      </p>
      <p class="text-xl sm:text-lg leading-7 mt-4 text-color-text dark:text-color-text-dark font-body">I'm also a coach at Boise Crossfit and enjoy getting people to move better.</p>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row">
    <div class="w-fit justify-self-center">
      <h2 class="mx-auto w-fit sm:mx-0 font-semibold text-3xl text-color-text dark:text-color-text-dark font-subtitle">Articles & Prominent Notes</h2>
      <ul class=" m-4 text-xl sm:text-lg leading-7 text-color-text dark:text-color-text-dark">
        {articles.map(article => (
          <li class="my-2">- <InternalLink title={article}/></li>
        ))}
      </ul>
    </div>
    <div class="w-fit justify-self-center">
      <h2 class="mx-auto w-fit sm:mx-0 font-semibold text-3xl text-color-text dark:text-color-text-dark font-subtitle">Projects</h2>
      <ul class=" m-4 text-xl sm:text-lg leading-7 text-color-text dark:text-color-text-dark font-body">
        <li class="my-2">- egghead.io -- <ExternalLink href="https://github.com/eggheadio/egghead-next/pull/602" title="PR showcase pulling Sanity data into a Next.js site" /> </li>
        <li class="my-2">- egghead-kenv -- <ExternalLink href="https://github.com/zacjones93/egghead-kenv" title="collection of internal team scripts and tools"></ExternalLink></li>
      </ul>
      <h2 class="mx-auto w-fit sm:mx-0 font-semibold text-3xl text-left text-color-text dark:text-color-text-dark font-subtitle">Book Reviews & Notes</h2>
      <ul class=" m-4 text-xl sm:text-lg leading-7 text-color-text dark:text-color-text-dark">
        {books.map(book => (
          <li class="my-2">- <InternalLink title={book}/></li>
        ))}
      </ul>
    </div>
  </div>
</Layout>

<style>

.external-link {
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-text;
  padding: 2px;
  border-radius: $border-radius;
}
.external-link:hover {
  color: black !important;
  background: $color-border;
  border-bottom: 1px solid $color-border;
}
.external-link:after {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  content: "↗";
  color: #aaaaaa;
}

</style>